* {
  margin: 0;
  padding: 0;
  transition: all 500ms;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(48, 1, 48);
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ... other rules ... */
.images img {
  object-fit: cover; /* This will resize the image to cover the entire container, without stretching it */
  width: 100%; /* This will set the width of the image to 100% of its container */
  height: 100%; /* This will set the height of the image to 100% of its container */
  transition: opacity 500ms; /* This will apply a transition effect to the opacity property */
}

.images {
  position: fixed; /*This will position the container relative to the viewport */
  top: 0; /* This will position the top of the container at the top of the viewport */
  left: 0; /* This will position the left of the container at the left of the viewport */
  width: 100%; /* This will set the width of the container to 100% of the viewport width */
  height: 100%; /* This will set the height of the container to 100% of the viewport height */
}
